@{
    ViewBag.Title = "Home Page";
}

<div class="row">
        <h4>Hill Cipher</h4><p><a href="https://en.wikipedia.org/wiki/Hill_cipher" class="btn btn-primary">Learn more &raquo;</a></p>
        <p>@Html.ActionLink("Try it","HillCipher","Home", new { @class = "btn btn-primary" })</p>
        <hr />
        <h4>XOR Cipher</h4>
        <p><a href="https://en.wikipedia.org/wiki/XOR_cipher" class="btn btn-primary">Lear more &raquo;</a></p>
        <p>@Html.ActionLink("Try it","XORCipher","Home", new {@class= "btn btn-primary" })</p>
</div>
